<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.lami.dao.AdminDAO">

	<insert id="productRegister" 
		useGeneratedKeys="true"
		keyProperty="product.pro_id"
		parameterType="kr.green.lami.vo.ProductVO">
		insert into 
			product(pro_name, pro_details, pro_status)
			values(#{product.pro_name}, #{product.pro_details}, #{product.pro_status})
	</insert>
	
	<insert id="uploadImage">
		insert into image(img_id, img_name, img_pro_id, img_type)
		values(#{image.img_id,}, #{image.img_name}, #{image.img_pro_id}, #{image.img_type})
	</insert>
	
	<select id="getCategories" resultType="kr.green.lami.vo.CategoryVO">
		SELECT * FROM category
	</select>
	
	<select id="getCategoryPath" parameterType="int" resultType="String">
		SELECT cat_path FROM CATEGORY WHERE cat_id = #{cat_id}
	</select>
	
	<select id="getCategory" parameterType="int" resultType="kr.green.lami.vo.CategoryVO">
		SELECT cat_id, cat_name, cat_ori_num, cat_depth, cat_path
		 FROM CATEGORY 
		 WHERE cat_id = #{pro_cat_id}
	</select>
	
	<insert id = "addCategory">
		insert into category (cat_name, cat_ori_num, cat_depth, cat_path)
		values(#{categoryName}, #{categoryOriginalNumber}, #{categoryDepth}, #{categoryPath})
	</insert>

</mapper>